{% extends "base.html" %}



{% block title %} {{ blog.caption }} {% endblock %}

{% block content %}
<div class="content">
    <h1><strong style="color:#009ACD;">{{ blog.caption }}</strong></h1>
    <h6>{{blog.publish_time|date:"m-d Y"}} , 分类:{{blog.category}}</h6>
    {% for tag in blog.tags.all %}
         <span class="label label-info">{{ tag }}</span>
    {% endfor %}


    {% load markup %}
    <h4>{{ blog.content|markdown:'codehilite,fenced_code' }}</h4>


    {% load duoshuo_tags %}

    {% duoshuo_comments %}


</div>



{% endblock %}



